#question1{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#question2{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#question3{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#question4{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#end1{
    background-color: Chartreuse;
    color: DarkRed;
    text-align: center;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#end2{
    background-color: Chartreuse;
    color: DarkRed;
    text-align: center;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#question5{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 30px;
    font-size: 20px;
}

#question6{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 50px;
    font-size: 20px;
}

#question7{
    background-color: Chartreuse;
    color: Navy;
    text-align: left;
    width: 750px;
    height: 30px;
    font-size: 20px;
}
